@layer components {
    .outlineBox {
        display: grid;
        flex-wrap: wrap;
        flex: column;
        align-items: center;
        gap: var(--space-4);
        padding: var(--space-4);
        border: 1px solid var(--border);
        border-radius: var(--radius-sm);
    }
}
