@layer components {
    .cardLink {
        font-weight: var(--font-weight-medium);
        color: var(--text-strong);
        text-decoration: none;
    }

    .cardLink:hover {
        text-decoration: underline;
    }
}
